<div
  *ngIf="isLoanSanctioned; else notSanctioned"
  class="display-flex-container justify-center flex-align-center flex-col success-block">
  <img src="../../../assets/trophy-icon.png" alt="trophy-icon" />
  <div class="header">Congratulations!</div>
  <div class="sub-header">Your loan has been approved</div>

  <div class="display-flex-container flex-col info-container">
    <div class="display-flex-container justify-sb">
      <div>Loan Amount Approved</div>
      <div>{{ loanAmount }}</div>
    </div>
    <hr />
    <div class="display-flex-container justify-sb">
      <div>Processing Fee</div>
      <div>{{ processingFee }}</div>
    </div>
    <hr />
    <div class="display-flex-container justify-sb">
      <div>Tenure</div>
      <div>{{ loanTerm }} years</div>
    </div>
    <hr />
    <div class="display-flex-container justify-sb">
      <div>Interest</div>
      <div>9.25% p.a.</div>
    </div>
    <hr />
  </div>
</div>

<ng-template #notSanctioned>
  <div class="display-flex-container justify-center flex-align-center flex-col success-block">
    <img src="../../../assets/sad-icon.png" alt="trophy-icon" />
    <div class="header">Sorry!</div>
    <div class="sub-header">Your loan has not been approved</div>
    <div class="display-flex-container justify-sb">
      <div class="display-flex-container flex-align-center">
        Please look into the following suggestions we have
      </div>
      <ul>
        <li *ngIf="isYoung">
          The company needs to be minimum 3 years old to be eliglible to apply for loans
        </li>
        <li>The company CCR is low and needs to be higher</li>
      </ul>
    </div>
  </div>
</ng-template>
